@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap');
@import './varibles.scss';
@import './breakpoints.scss';
@import './components/header.scss';
@import './components/banner.scss';
@import './components/cases.scss';
@import './components/navigation.scss';

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	outline: none;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body,
html {
	visibility: hidden;
	user-select: none;
	background: $white;
	overscroll-behavior: none;
	margin: 0;
	font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}
.page {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $white;
	.row {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	h3 {
		color: transparent;

		overflow: hidden;
		position: relative;
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
		// height: clamp(4rem, 10vw, 10rem);

		span {
			// position: absolute;
			display: inline-block;
			font-size: clamp(4rem, 10vw, 10rem);
			text-align: center;
			font-weight: bold;
			text-transform: uppercase;
			// text-stroke: 2px $black;
			-webkit-text-stroke: 2px $black;
			background: linear-gradient(150deg, transparent, transparent 50%, $black 50%);
			background-size: 285%;
			-webkit-background-clip: text;
			background-clip: text;
			transition: background 1s ease;
		}

		&:hover span {
			background-position: 100%;
		}
	}
}

.container {
	width: 1560px;
	min-width: 1560px;
	margin: 0 auto;
	height: 100%;
	@include media('<=1560px') {
		width: 1280px;
		min-width: 1280px;
	}
	@include media('<=desktop') {
		width: 1080px;
		min-width: 1080px;
	}
	@include media('<=1080px') {
		width: 100%;
		min-width: 100%;
	}
	.row {
		display: flex;
		height: 100%;
		padding: 0 32px;
		@include media('<=phone') {
			padding: 0 16px;
		}
	}
	.v-center {
		align-items: center;
	}
	.space-between {
		justify-content: space-between;
	}
}

.container-fluid {
	width: 100%;
	height: 100%;
	.row {
		display: flex;
		height: 100%;
	}
}

// ===========================
// ===========================
// intro overlay
.intro-overlay {
	.top {
		height: 50vh;
		height: calc(var(--vh, 1vh) * 50);
		position: absolute;
		width: 100%;
		z-index: 8;
		.overlay-top {
			position: absolute;
			height: 100%;
			width: 33.333vw;
			background: $black;
			bottom: 0;
			left: 0;
			right: 0;
			@include media('<=tablet') {
				width: 100vw;
			}
			&:nth-child(2) {
				left: 33.333%;
				@include media('<=tablet') {
					display: none;
				}
			}
			&:nth-child(3) {
				left: 66.666%;
				@include media('<=tablet') {
					display: none;
				}
			}
		}
	}
	.bottom {
		height: 50vh;
		height: calc(var(--vh, 1vh) * 50);
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 8;
		.overlay-bottom {
			position: absolute;
			height: 100%;
			width: 33.333vw;
			background: $black;
			bottom: 0;
			right: 66.666%;
			@include media('<=tablet') {
				right: 0;
				width: 100vw;
			}
			&:nth-child(2) {
				right: 33.333%;
				@include media('<=tablet') {
					width: 100vw;
					top: 100%;
					right: 0;
				}
			}
			&:nth-child(3) {
				right: 0;
				@include media('<=tablet') {
					width: 100vw;
					top: 200%;
				}
			}
		}
	}
}

// ======================================
// ======================================
.cursor {
	pointer-events: none;
	width: 40px;
	height: 40px;
	border: 2px solid $white;
	border-radius: 50%;
	display: block;
	position: fixed;
	z-index: 999;
	transition: all 0.15s ease;
	transform: translate(-15px, -12px);
	mix-blend-mode: exclusion;

	&.hovered {
		background: rgba($white, 0.3);
		transform: translate(-15px, -12px) scale(1.5);
	}
}

// ====================================
// ====================================
.App {
	z-index: 2;
	transform: translateY(0);
	position: relative;
}
